.reg_form{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: aquamarine;
    padding: 15px;
}

.reg_form div{
    margin-bottom: 10px;
}
.reg_form input{
    width: 100%;
    height: 40px;
}

.reg_form button{
    background-color: teal;
    color: white;
    height: 40px;
    width: 100%;
    outline:none;
    border:none;
}

